<div class="cover-user-show">  
  <div class="container d-flex flex-column align-items-center"> 
    <div class="row mt-5">
      <% if user_signed_in? && @user == current_user %>
        <h1 class="font-weight-normal"><%= @user.name %></h1>
      <% else %>
        <h1 class="font-weight-normal"><%= @user.name %>さんのページ</h1>
      <% end %>
    </div>

    <% if user_signed_in? && @user == current_user %>
      <p class="d-flex align-self-end">
        <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-success" %>
      </p>
    <% end %>

    <% if user_signed_in? && current_user != @user %>
      <div class="d-flex justify-content-end align-items-center mt-3 w-100">
        <% if current_user.following?(@user) %>
          <%= link_to 'フォロー外す', user_relationships_path(@user.id), data: { turbo_method: :delete }, class: "btn btn-danger mr-4" %> <!-- mr-4 で間隔を広げる -->
        <% else %>
          <%= link_to 'フォローする', user_relationships_path(@user.id), data: { turbo_method: :post }, class: "btn btn-success mr-4" %> <!-- mr-4 で間隔を広げる -->
        <% end %>
        <% if current_user.following?(@user) && @user.following?(current_user) %>
          <% if @isRoom && @roomId.present? %>
            <%= link_to "チャットへ", room_path(@roomId), class: "btn btn-primary mr-4" %>
          <% else %>
            <%= form_for @room do |f| %>
              <%= fields_for @entry do |e| %>
                <%= e.hidden_field :user_id, value: @user.id %>
              <% end %>
              <%= f.submit "チャットを始める", class:"btn btn-primary btn-lg user-show-chat"%>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <div class="d-flex w-100 mt-4">
      <%= attachment_image_tag @user, :profile_image, size: '100x100', fallback: "no_image.svg", class: "mb-3 profile-img" %>
      <h4 class="ml-3 mb-3 card w-100 profile"><%= @user.profile %></h4>
    </div>

    <div class="d-flex mt-3"> 
      <%= link_to follows_user_path(@user) do %>
        <h6 class="follow-stats">フォロー <%= @following_users.count %></h6>
      <% end %>  
      <%= link_to followers_user_path(@user) do %>
        <h6 class="follow-stats">フォロワー <%= @follower_users.count %></h6>
      <% end %>
    </div>

    <div class="row mt-5 index-left w-100 d-flex justify-content-center">
      <% @posts.where(status: 'published').each do |post| %>
      <div class="one-post col-lg-3 col-md-4 col-sm-6 col-12 mb-3 text-center"> <!-- col-lg-3: 大画面で横4列, col-md-4: 中画面で横3列, col-sm-6: スモールで横2列, col-12: スマホで1列 -->
      <%= link_to post_path(post) do %>
        <%= attachment_image_tag post, :image, format: 'jpeg', size: '200x133' %>
        <p class="caption mb-0"><%= post.title %></p>
        <p class="caption"><%= "#{post.comments.count} コメント" %></p>
      <% end %>
      </div>
      <% end %>
    </div>
    <%= paginate @posts.where(status: 'published') %>
  </div>
</div>
