<div class="cover-index">
  <div class="container d-flex flex-column align-items-center">
    <div class="row mt-5">
      <h1 class="font-weight-normal">おうちあそび投稿一覧</h1>
    </div>
    <div class="row mt-3 mb-3 align-self-end">
      <%= form_with url: posts_path, method: :get, local: true do %>
      <div class="form-group d-flex flex-column flex-md-row">
      <%= text_field_tag :search, params[:search], class: "form-control mb-2 mb-md-0", placeholder: "キーワードで検索" %>
      <%= select_tag :category_id, options_from_collection_for_select(Category.all, :id, :name, params[:category_id]), include_blank: "カテゴリを選択", class: "form-control mb-2 mb-md-0 ml-md-2" %>
      <%= submit_tag '検索する', class: "btn btn-primary ml-md-2" %>
      </div>
      <% end %>
    </div>
    <% if @posts.empty? %>  <!-- 検索結果がない場合 -->
    <p class="text-muted no-results">検索に一致するものがありません</p>
    <% end %>
    <div class="row mt-5 index-left w-100">
      <% @posts.each do |post| %>
        <div class="one-post col-sm-4 mb-3">
          <%= link_to post_path(post) do %>
            <p class="caption"><%= post.user.name %></p>
            <%= attachment_image_tag post, :image, format: 'jpeg', size: '300x200' %>
            <p class="caption"><%= post.title %></p>
            <p class="caption"><%= "#{post.comments.count} コメント" %></p>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= paginate @posts %>
  </div>
</div>